<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">YouTube Studio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="https://www.gstatic.com/youtube/img/creator/mobile/mobile_logo.png" alt="YouTube Studio"><br>
    <ion-text color="dark">
      <h1>Prueba la app de YouTube Studio</h1>
    </ion-text>
    <p>Descarga la app de YouTube Studio para obtener la mejor experiencia de la plataforma.</p>
    <ion-button [routerLink]="['/']">
      Descarga YouTube Studio
    </ion-button>
  </div>
</ion-content>
