<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']" color="youtube">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding" slot="start">Youtube</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="scrolling-wrapper">
        <ion-chip class="chips" *ngFor="let ionChip of ionChips">
          <ion-label>{{ ionChip }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let video of videos">
    <img class="miniature" src="{{ video.miniature }}" alt="{{ video.title }}">
    <ion-card-content class="ion-text-justify ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div>
              <ion-avatar>
                <img class="avatar" src="{{ video.profile }}" />
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col size="9">
            <div>
              <strong>{{ video.title }}</strong><br>
              {{ video.user }} • {{ video.views }} • {{ video.uploaded }}
            </div>
          </ion-col>
          <ion-col  size="1">
            <div>
              <ion-buttons slot="end">
                <ion-button (click)="AlertClick()">
                  <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-spinner class="ion-padding ion-text-center"></ion-spinner>
</ion-content>